@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Get's latest data of your favourite stocks and syncs across your android phone and web application</p>
