@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-image: url("");
    }
     #data {
         background-color: #8e9aad;
         height: 150px;
         width: 200px;
         border-radius: 5px;
         
     }
     #prefid {
     }
</style>


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>

<script>
    function executeQuery(params) {
        console.log("Inside ajax: "+params);
        if ( params.length > 0) {
            ticker_list = params.slice(0, -1);
            var URL = "http://stockticker20170616112945.azurewebsites.net/Home/GetDataV2?" + params;
            //var URL = "http://localhost:59841/Home/GetDataV2?" + params;
            console.log("AJAX call with URL: "+URL)
            $.ajax({
                url: URL,
                success: function(data, textStatus) {
                    console.log("Success:" + textStatus);
                    var res = JSON.stringify(data);
                    var obj = $.parseJSON(res);

                    for (var i = 0; i < obj.length; i++) {
                        var json = obj[i];
                        console.log(json.c);

                        if (json.c.charAt(0) == '+') {
                            $('#' + json.t).html("Ticker: " +
                                json.t +
                                "<br>Last time:" +
                                json.ltt +
                                "<br>Change:<span style='color:green'>" +
                                json.c + "</span>" +
                                "Last price:" + json.l);
                        } else {
                            $('#' + json.t).html("Ticker: " +
                                json.t +
                                "<br>Last time:" +
                                json.ltt +
                                "<br>Change:<span style='color:red'>" +
                                json.c+"</span>"+
                                "Last price:"+json.l);
                        }


                       



                    }
                    
                    //$("#result").html("Updates");
                },
                error: function(xhr, textStatus, errorThrown){
                   console.log(errorThrown);
                }
            });
            //console.log("Calling");
            //setTimeout(executeQuery, 5000); // you could choose not to continue on failure...
        } else {
            console.log("Nothing to request");
        }
    }


    $(document).ready(function () {

        var ticker_list = "";
        var count = 0;

        setInterval(function () {
            var test2this = this;
            this.list = ticker_list;
            executeQuery(test2this.list.toString())
        }, 5000);
        
        //$("#push").click(function() {
        //    console.log("Inside push notification");
        //    $.ajax({
        //        url: "http://localhost:59841/Home/pushNotification?pref=HON",

        //        type: 'GET',
        //        dataType: 'json',
        //        success: function (data) {
        //            console.log("Success");
        //            console.info(JSON.stringify(data));
        //        },
        //        error: function (error) {
        //            console.log("Failed");
        //            console.log(JSON.stringify(error));
        //        }
        //    });



        //});
        function notifyAndroid(ticker) {
            //var URL="http://localhost:59841/Home/pushNotification?pref="+ticker;
            var URL = "http://stockticker20170616112945.azurewebsites.net/Home/pushNotification?pref=" + ticker;
            $.ajax({
                url: URL,

                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    console.log("Success");
                    console.info(JSON.stringify(data));
                },
                error: function (error) {
                    console.log("Failed");
                    console.log(JSON.stringify(error));
                }
            });
        }
        var json = [
            { "company_name": "Honeywell", "ticker": "HON", "market": "NYSE", "status": "0" },
            { "company_name": "Microsoft", "ticker": "MSFT", "market": "NASDAQ", "status": "0" },
            { "company_name": "Facebook", "ticker": "FB", "market": "NASDAQ", "status": "0" },
            { "company_name": "Apple", "ticker": "AAPL", "market": "NASDAQ", "status": "0" },
            { "company_name": "Citrix", "ticker": "CTXS", "market": "NASDAQ", "status": "0" },
            { "company_name": "Twitter", "ticker": "TWTR", "market": "NASDAQ", "status": "0" },
            { "company_name": "Cisco", "ticker": "CSCO", "market": "NASDAQ", "status": "0" },
            { "company_name": "Amazon", "ticker": "AMZN", "market": "NASDAQ", "status": "0" },
            { "company_name": "HP Inc", "ticker": "HPQ", "market": "NYSE", "status": "0" },
            { "company_name": "Wipro", "ticker": "WIPRO", "market": "NSE", "status": "0" },
            { "company_name": "TCS", "ticker": "TCS", "market": "NSE", "status": "0" },
            { "company_name": "Accenture", "ticker": "ACN", "market": "NYSE", "status": "0" },
            { "company_name": "Intellect Design", "ticker": "INTELLECT", "market": "NSE", "status": "0" },
            { "company_name": "Google", "ticker": "GOOG", "market": "NASDAQ", "status": "0" }
        ];
        $('#mainlist > div').on('click', function (e) {
            alert($(this).attr('id') + ' was clicked');
        });

        $("input[name=TypeList]").focusout(function () {
            console.log("Inside list");
            if (count >= 0) {
                for (var i = 0; i < json.length; i++) {
                    var obj = json[i];

                    // console.log(obj);
                    if ($(this).val() == obj.company_name && obj.status == "0") {
                        ticker_list += 'market=' + obj.market + "&" + "companies=" + obj.ticker + "&";
                        $("#mainlist").append("<div id=Main'" + obj.ticker + "'>" + $(this).val() + "<div id=data><div id='" + obj.ticker + "'></div></div></div>");

                        obj.status = "1";
                        count++;
                        $('#s').val("");
                        //console.log("Current params: " + ticker_list);
                        //addPref(obj.ticker, obj.company_name);
                        notifyAndroid(obj.ticker);
                        addPrefDB(obj.ticker, obj.company_name, obj.market);

                    }

                }

            }
            //console.log("Current params: "+ticker_list);
        });
        function addPrefDB(tic, com, mar) {
            //var URL = "http://localhost:59841/Auth/AddPref?id=1&ticker=" + tic + "&company=" + com + "&market=" + mar;
            var URL = "http://stockticker20170616112945.azurewebsites.net/Auth/AddPref?id=1&ticker=" + tic + "&company=" + com + "&market=" + mar;
            $.ajax({
                url: URL,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    console.log("Success");
                    console.info(JSON.stringify(data));
                },
                error: function (error) {
                    console.log("Failed");
                    console.log(JSON.stringify(error));
                }
            });
        }
        //function addPref(tic, comp) {

        //    URL = 'http://localhost:59841/Auth/AddPref?id=1&ticker=' + tic + "&company=" + comp;
        //    $.ajax({
        //        url: URL,
        //        success: function (data, textStatus) {
        //            console.log("Success:" + textStatus);
        //            var res = JSON.stringify(data);
        //            var obj = $.parseJSON(res);

        //            for (var i = 0; i < obj.length; i++) {
        //                var json = obj[i];
        //                console.log(json.c);
        //                $('#' + json.t).html("Ticker: " + json.t + "<br>Last time:" + json.ltt + "<br>Change:" + json.c);



        //            }

        //            //$("#result").html("Updates");
        //        },
        //        error: function (xhr, textStatus, errorThrown) {
        //            console.log(errorThrown);
        //        }
        //    });
        //}
        function getpref() {
            console.log('getting preference');
            //var URL = 'http://localhost:59841/Auth/GetPref?id=1';
            var URL = 'http://stockticker20170616112945.azurewebsites.net/Auth/GetPref?id=1';

            $.ajax({
                url: URL,
                success: function(data, textStatus) {
                    console.log("Success:" + textStatus);
                    var res = JSON.stringify(data);
                    var obj = $.parseJSON(res);
                    var str = "";
                    for (var i = 0; i < obj.length; i++) {
                        var json = obj[i];
                        console.log(json);
                        str += json.Ticker+" ";
                    }
                    $('#prefid').html(str);
                },
                error: function(xhr, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            });
        }
        setInterval(getpref, 7000);

       
    });


</script>
<div class="top-bar">
    <h1>Near Real Time Stock</h1>
    <input id="s" name="TypeList" list="TypeList" placeholder="Select Company" />
    <datalist id="TypeList">
        <option id="op1" value="Honeywell" />
        <option id="op2" value="Microsoft"/>
        <option id="op3" value="Cisco"/>
        <option id="op4" value="Amazon"/>
        <option id="op5" value="Citrix"/>
        <option id="op6" value="Wipro"/>
        <option id="op7" value="TCS"/>
        <option id="op8" value="Accenture"/>
        <option id="op9" value="Intellect Design"/>
        @*<option id="op10" value="Mahindra Comviva"/>*@
        <option id="op10" value="Philips"/>
        <option id="op11" value="HP"/>
        <option id="op12" value="Facebook"/>
        <option id="op13" value="Google" />

    </datalist>
    
   <!--<button type="button" id="push">Push</button> -->
    <div id="mainlist">

    </div>
    
    <div id="prefid"></div>
</div>
